
body {
	font-family: sans-serif;
	text-align: center;
}

#game {
	display: none;
}

#help {
	display: none;
}

#warning {
	background-color: red;
	display: none;
}

#lastscore {
	display: none;
}

#credits {
	clear: left;
	float: right;
	font-size: xx-small;
	text-align: right;
}
